*{
	padding: 0;
	margin: 0;
}


html, body{
	// height: 100%;
	background: #fafafa;
}

html {
	overflow-y: scroll;
}

body {
	background: url('../images/debut_light/debut_light.png');
	h3 {
		font-size: 1.5em;
		margin-top: 0.8em;
		margin-bottom: 0.4em;
	}
	@media (max-width: 319px) {
		font-size: 10px;
	}
	@media (min-width: 320px) and (max-width: 767px) {
		font-size: 12px;
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		font-size: 14px;
	}
	@media (min-width: 1024px) {
		font-size: 16px;
	}
}

.fuzzy-wrapper {
	position: relative;
	font-size: 1em;
	color: #222;

	.fuzzy-images {

		font-size: 1em;
		position: relative;

		img {
			width: 100%;
		}

		.fuzzy-blurred {
			font-size: 1em;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.fuzzy-original {
			font-size: 1em;
		}
	}

	.fuzzy-panel {
		font-size: 1em;
		position: absolute;
		overflow: hidden;
		background: rgba(255,255,255,0.4);

		.fuzzy-panel-content {
			font-size: 1em;
			padding: 0.5em 1.5em;
		}
	}
}
